--
-- PostgreSQL database dump
--

\restrict jWZBMugjcdAk2nZ0hhW645Up5dJABeQxMzi2SFgaX3rwVgPzjaPo2KqfhdpgtWe

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alert; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alert (
    id integer NOT NULL,
    message character varying(255) NOT NULL,
    "timestamp" timestamp without time zone,
    severity character varying(20) NOT NULL
);


ALTER TABLE public.alert OWNER TO postgres;

--
-- Name: alert_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.alert_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.alert_id_seq OWNER TO postgres;

--
-- Name: alert_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.alert_id_seq OWNED BY public.alert.id;


--
-- Name: alerts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alerts (
    id integer NOT NULL,
    road_id integer,
    alert_type character varying(30) NOT NULL,
    severity character varying(20) DEFAULT 'medium'::character varying NOT NULL,
    title character varying(255) NOT NULL,
    message text,
    location_name character varying(255),
    latitude double precision,
    longitude double precision,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    is_read boolean DEFAULT false,
    created_by_id integer,
    created_at timestamp without time zone DEFAULT now(),
    resolved_at timestamp without time zone
);


ALTER TABLE public.alerts OWNER TO postgres;

--
-- Name: alerts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.alerts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.alerts_id_seq OWNER TO postgres;

--
-- Name: alerts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.alerts_id_seq OWNED BY public.alerts.id;


--
-- Name: prediction_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prediction_history (
    id integer NOT NULL,
    temperature double precision NOT NULL,
    rain double precision NOT NULL,
    clouds double precision NOT NULL,
    hour integer NOT NULL,
    predicted_congestion character varying(20) NOT NULL,
    predicted_at timestamp without time zone
);


ALTER TABLE public.prediction_history OWNER TO postgres;

--
-- Name: prediction_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.prediction_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.prediction_history_id_seq OWNER TO postgres;

--
-- Name: prediction_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.prediction_history_id_seq OWNED BY public.prediction_history.id;


--
-- Name: predictions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.predictions (
    id integer NOT NULL,
    road_id integer,
    requested_by_id integer,
    hour integer,
    day_of_week integer,
    month integer,
    temperature double precision,
    rain double precision,
    snow double precision,
    clouds double precision,
    vehicle_count integer,
    predicted_congestion character varying(20),
    confidence double precision,
    estimated_delay_min double precision,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.predictions OWNER TO postgres;

--
-- Name: predictions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.predictions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.predictions_id_seq OWNER TO postgres;

--
-- Name: predictions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.predictions_id_seq OWNED BY public.predictions.id;


--
-- Name: roads; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roads (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    area character varying(255),
    city character varying(120),
    state character varying(120),
    country character varying(120),
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    tomtom_id character varying(255),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.roads OWNER TO postgres;

--
-- Name: roads_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.roads_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roads_id_seq OWNER TO postgres;

--
-- Name: roads_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.roads_id_seq OWNED BY public.roads.id;


--
-- Name: route_searches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.route_searches (
    id integer NOT NULL,
    user_id integer,
    origin_name character varying(255),
    origin_lat double precision,
    origin_lng double precision,
    destination_name character varying(255),
    destination_lat double precision,
    destination_lng double precision,
    distance_km double precision,
    travel_time_min double precision,
    traffic_delay_min double precision,
    route_summary_json jsonb,
    is_saved boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.route_searches OWNER TO postgres;

--
-- Name: route_searches_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.route_searches_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.route_searches_id_seq OWNER TO postgres;

--
-- Name: route_searches_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.route_searches_id_seq OWNED BY public.route_searches.id;


--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_settings (
    id integer NOT NULL,
    key character varying(100) NOT NULL,
    value character varying(255),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.system_settings OWNER TO postgres;

--
-- Name: system_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.system_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.system_settings_id_seq OWNER TO postgres;

--
-- Name: system_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.system_settings_id_seq OWNED BY public.system_settings.id;


--
-- Name: traffic_data; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.traffic_data (
    id integer NOT NULL,
    road_name character varying(100) NOT NULL,
    vehicle_count integer NOT NULL,
    avg_speed double precision NOT NULL,
    congestion_level character varying(20) NOT NULL,
    last_updated timestamp without time zone
);


ALTER TABLE public.traffic_data OWNER TO postgres;

--
-- Name: traffic_data_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.traffic_data_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.traffic_data_id_seq OWNER TO postgres;

--
-- Name: traffic_data_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.traffic_data_id_seq OWNED BY public.traffic_data.id;


--
-- Name: traffic_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.traffic_history (
    id integer NOT NULL,
    road_name character varying(100) NOT NULL,
    vehicle_count integer NOT NULL,
    avg_speed double precision NOT NULL,
    congestion_level character varying(20) NOT NULL,
    recorded_at timestamp without time zone
);


ALTER TABLE public.traffic_history OWNER TO postgres;

--
-- Name: traffic_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.traffic_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.traffic_history_id_seq OWNER TO postgres;

--
-- Name: traffic_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.traffic_history_id_seq OWNED BY public.traffic_history.id;


--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(120) NOT NULL,
    password character varying(100) NOT NULL,
    role character varying(20) NOT NULL
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_id_seq OWNER TO postgres;

--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: user_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_settings (
    id integer NOT NULL,
    user_id integer NOT NULL,
    theme character varying(20) DEFAULT 'dark'::character varying,
    language character varying(20) DEFAULT 'en-US'::character varying,
    email_notifications boolean DEFAULT true,
    sms_alerts boolean DEFAULT true,
    push_notifications boolean DEFAULT true,
    map_provider character varying(20) DEFAULT 'tomtom'::character varying,
    two_factor_enabled boolean DEFAULT false
);


ALTER TABLE public.user_settings OWNER TO postgres;

--
-- Name: user_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_settings_id_seq OWNER TO postgres;

--
-- Name: user_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_settings_id_seq OWNED BY public.user_settings.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(120) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(30) DEFAULT 'traffic_operator'::character varying NOT NULL,
    phone character varying(30),
    department character varying(120),
    assigned_area character varying(120) DEFAULT 'All Locations'::character varying,
    avatar_url character varying(255),
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    last_active timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: alert id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alert ALTER COLUMN id SET DEFAULT nextval('public.alert_id_seq'::regclass);


--
-- Name: alerts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts ALTER COLUMN id SET DEFAULT nextval('public.alerts_id_seq'::regclass);


--
-- Name: prediction_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prediction_history ALTER COLUMN id SET DEFAULT nextval('public.prediction_history_id_seq'::regclass);


--
-- Name: predictions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.predictions ALTER COLUMN id SET DEFAULT nextval('public.predictions_id_seq'::regclass);


--
-- Name: roads id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roads ALTER COLUMN id SET DEFAULT nextval('public.roads_id_seq'::regclass);


--
-- Name: route_searches id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.route_searches ALTER COLUMN id SET DEFAULT nextval('public.route_searches_id_seq'::regclass);


--
-- Name: system_settings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings ALTER COLUMN id SET DEFAULT nextval('public.system_settings_id_seq'::regclass);


--
-- Name: traffic_data id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.traffic_data ALTER COLUMN id SET DEFAULT nextval('public.traffic_data_id_seq'::regclass);


--
-- Name: traffic_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.traffic_history ALTER COLUMN id SET DEFAULT nextval('public.traffic_history_id_seq'::regclass);


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Name: user_settings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_settings ALTER COLUMN id SET DEFAULT nextval('public.user_settings_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: alert; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alert (id, message, "timestamp", severity) FROM stdin;
1	Accident reported on Expressway 101	2026-08-11 16:41:22.957785	Critical
2	Heavy rain slowing down traffic on Broadway St	2026-08-11 16:41:22.957785	Warning
3	Road construction starting on Sunset Road next week	2026-08-11 16:41:22.957785	Info
4	Heavy congestion detected on Main Avenue	2026-08-11 16:42:10.587738	Critical
5	Heavy congestion detected on Sunset Road	2026-08-12 16:12:57.489107	Critical
\.


--
-- Data for Name: alerts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alerts (id, road_id, alert_type, severity, title, message, location_name, latitude, longitude, status, is_read, created_by_id, created_at, resolved_at) FROM stdin;
\.


--
-- Data for Name: prediction_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.prediction_history (id, temperature, rain, clouds, hour, predicted_congestion, predicted_at) FROM stdin;
1	290	1.5	85	18	Moderate	2026-08-11 16:57:52.423211
2	25	0	40	18	Moderate	2026-08-11 17:04:09.84632
3	25	2.5	85	14	Moderate	2026-08-12 16:01:48.947718
4	25	2.5	85	8	Moderate	2026-08-12 16:10:08.520636
5	30	1.5	85	15	Moderate	2026-08-12 17:13:32.733322
\.


--
-- Data for Name: predictions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.predictions (id, road_id, requested_by_id, hour, day_of_week, month, temperature, rain, snow, clouds, vehicle_count, predicted_congestion, confidence, estimated_delay_min, created_at) FROM stdin;
\.


--
-- Data for Name: roads; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roads (id, name, area, city, state, country, latitude, longitude, tomtom_id, created_at) FROM stdin;
\.


--
-- Data for Name: route_searches; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.route_searches (id, user_id, origin_name, origin_lat, origin_lng, destination_name, destination_lat, destination_lng, distance_km, travel_time_min, traffic_delay_min, route_summary_json, is_saved, created_at) FROM stdin;
\.


--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.system_settings (id, key, value, updated_at) FROM stdin;
\.


--
-- Data for Name: traffic_data; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.traffic_data (id, road_name, vehicle_count, avg_speed, congestion_level, last_updated) FROM stdin;
3	Expressway 101	350	15.2	Heavy	2026-08-11 16:41:22.964617
4	Silicon Blvd	80	42	Moderate	2026-08-11 16:41:22.964617
2	Main Avenue	300	15	Heavy	2026-08-11 16:42:10.574227
1	Broadway St	300	100	Low	2026-08-12 16:03:45.849551
5	Sunset Road	500	10	Heavy	2026-08-12 16:12:57.48151
\.


--
-- Data for Name: traffic_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.traffic_history (id, road_name, vehicle_count, avg_speed, congestion_level, recorded_at) FROM stdin;
1	Main Avenue	300	15	Heavy	2026-08-11 16:42:10.579929
2	Sunset Road	300	100	Low	2026-08-12 14:02:43.589734
3	Broadway St	300	300	Low	2026-08-12 15:19:28.369081
4	Broadway St	300	100	Low	2026-08-12 16:03:45.853847
5	Sunset Road	500	10	Heavy	2026-08-12 16:12:57.485318
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."user" (id, username, email, password, role) FROM stdin;
1	hema	hemamruthamp2005@gmail.com	$2b$12$iOtMM82r7pQ17OFF9x2mRe6cXpUGaS7v/6QyGT./GE.totNp.BoLW	Admin
2	pavan	pavanmp123@gmail.com	$2b$12$uapA4uuRuCE1Ax6gXDT87.pnGrOafEdMwjlW/SqGj2EYfbjMLEwgC	Public User
\.


--
-- Data for Name: user_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_settings (id, user_id, theme, language, email_notifications, sms_alerts, push_notifications, map_provider, two_factor_enabled) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, name, email, password_hash, role, phone, department, assigned_area, avatar_url, status, last_active, created_at, updated_at) FROM stdin;
\.


--
-- Name: alert_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.alert_id_seq', 5, true);


--
-- Name: alerts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.alerts_id_seq', 1, false);


--
-- Name: prediction_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.prediction_history_id_seq', 5, true);


--
-- Name: predictions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.predictions_id_seq', 1, false);


--
-- Name: roads_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roads_id_seq', 1, false);


--
-- Name: route_searches_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.route_searches_id_seq', 1, false);


--
-- Name: system_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.system_settings_id_seq', 1, false);


--
-- Name: traffic_data_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.traffic_data_id_seq', 5, true);


--
-- Name: traffic_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.traffic_history_id_seq', 5, true);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_id_seq', 2, true);


--
-- Name: user_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_settings_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: alert alert_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alert
    ADD CONSTRAINT alert_pkey PRIMARY KEY (id);


--
-- Name: alerts alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_pkey PRIMARY KEY (id);


--
-- Name: prediction_history prediction_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prediction_history
    ADD CONSTRAINT prediction_history_pkey PRIMARY KEY (id);


--
-- Name: predictions predictions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.predictions
    ADD CONSTRAINT predictions_pkey PRIMARY KEY (id);


--
-- Name: roads roads_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roads
    ADD CONSTRAINT roads_pkey PRIMARY KEY (id);


--
-- Name: route_searches route_searches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.route_searches
    ADD CONSTRAINT route_searches_pkey PRIMARY KEY (id);


--
-- Name: system_settings system_settings_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_key_key UNIQUE (key);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (id);


--
-- Name: traffic_data traffic_data_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.traffic_data
    ADD CONSTRAINT traffic_data_pkey PRIMARY KEY (id);


--
-- Name: traffic_history traffic_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.traffic_history
    ADD CONSTRAINT traffic_history_pkey PRIMARY KEY (id);


--
-- Name: user user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_email_key UNIQUE (email);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: user_settings user_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_settings
    ADD CONSTRAINT user_settings_pkey PRIMARY KEY (id);


--
-- Name: user_settings user_settings_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_settings
    ADD CONSTRAINT user_settings_user_id_key UNIQUE (user_id);


--
-- Name: user user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_username_key UNIQUE (username);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_roads_city_state; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_roads_city_state ON public.roads USING btree (city, state);


--
-- Name: alerts alerts_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id);


--
-- Name: alerts alerts_road_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_road_id_fkey FOREIGN KEY (road_id) REFERENCES public.roads(id);


--
-- Name: predictions predictions_requested_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.predictions
    ADD CONSTRAINT predictions_requested_by_id_fkey FOREIGN KEY (requested_by_id) REFERENCES public.users(id);


--
-- Name: predictions predictions_road_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.predictions
    ADD CONSTRAINT predictions_road_id_fkey FOREIGN KEY (road_id) REFERENCES public.roads(id);


--
-- Name: route_searches route_searches_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.route_searches
    ADD CONSTRAINT route_searches_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_settings user_settings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_settings
    ADD CONSTRAINT user_settings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict jWZBMugjcdAk2nZ0hhW645Up5dJABeQxMzi2SFgaX3rwVgPzjaPo2KqfhdpgtWe

